secrets.yml filter=git-crypt diff=git-crypt
modules/vpn/** filter=git-crypt diff=git-crypt
modules/secrets.nix filter=git-crypt diff=git-crypt
modules/home-manager/machine-profiles/ss-vm.nix filter=git-crypt diff=git-crypt
