dot/ssh/authorized_keys
dot/ssh/id_dsa
dot/ssh/id_dsa.pub
dot/ssh/id_rsa
dot/ssh/known_hosts
dot/sbt/*/plugins/project/
dot/sbt/*/plugins/target/
dot/sbt/*/boot
dot/sbt/*/target
dot/vim/.netrwhist
dot/xmonad/xmonad-x86_64-linux
dot/xmonad/xmonad.errors
dot/xmonad/xmonad.hi
dot/xmonad/xmonad.o
*.swp
