/dot/config/*
!/dot/config/nvim
/dot/config/nvim/.netrwhist
!/dot/config/nixpkgs
/dot/config/nixpkgs/packages.nix
!/dot/config/taffybar
!/dot/config/xmonad
/dot/config/xmonad/xmonad.hi
/dot/config/xmonad/xmonad.o
/dot/ssh/authorized_keys
/dot/ssh/id_dsa
/dot/ssh/id_dsa.pub
/dot/ssh/id_rsa
/dot/ssh/id_rsa.pub
/dot/ssh/terraform
/dot/ssh/terraform.pub
/dot/ssh/known_hosts
/dot/ssh/git-annex-*
/dot/sbt/boot
/dot/sbt/launch
/dot/sbt/launchers
/dot/sbt/preloaded
/dot/sbt/*/plugins/project/
/dot/sbt/*/plugins/target/
/dot/sbt/*/boot
/dot/sbt/*/target
/dot/sbt/*/zinc/
/dot/vim/.netrwhist
/nixos/configuration.nix
*.swp
