/dot/config/*
!/dot/config/taffybar
!/dot/config/nvim
!/dot/config/nixpkgs
/dot/ssh/authorized_keys
/dot/ssh/id_dsa
/dot/ssh/id_dsa.pub
/dot/ssh/id_rsa
/dot/ssh/terraform
/dot/ssh/terraform.pub
/dot/ssh/known_hosts
/dot/ssh/git-annex-*
/dot/sbt/boot
/dot/sbt/launch
/dot/sbt/launchers
/dot/sbt/preloaded
/dot/sbt/*/plugins/project/
/dot/sbt/*/plugins/target/
/dot/sbt/*/boot
/dot/sbt/*/target
/dot/sbt/*/zinc/
/dot/vim/.netrwhist
/dot/xmonad/history
/dot/xmonad/xmonad-x86_64-linux
/dot/xmonad/xmonad.errors
/dot/xmonad/xmonad.hi
/dot/xmonad/lib/**/*.hi
/dot/xmonad/lib/**/*.o
/dot/xmonad/xmonad.o
/dot/xmonad/xmonad.state
/nixos/configuration.nix
*.swp
